<div class="container">
  <h2 *ngIf="!finished">Current Player: {{ player }}</h2>
  <h2 *ngIf="finished && winner">Player {{ winner }} won the game!</h2>
  <h2 *ngIf="finished && !winner">It is a tie!!</h2>

  <nb-checkbox class="checkbox" status="success" (checkedChange)="toggleComputerPlay($event)"
    >Play with Computer</nb-checkbox
  >
  <nb-checkbox class="checkbox" status="success" (checkedChange)="toggleComputerEasyPlay($event)" *ngIf="playWithAI"
    >Make AI Easy</nb-checkbox
  >
  <nb-checkbox class="checkbox" status="success" (checkedChange)="toggleAiFirstPlay($event)" *ngIf="playWithAI"
    >AI plays first</nb-checkbox
  >

  <button
    nbButton
    outline
    status="danger"
    (click)="newGame()"
    class="start-button"
  >
    Start new Game!
  </button>

  <main>
    <app-sign-container
      *ngFor="let square of squares; let indx = index"
      [sign]="square"
      (click)="makeMove(indx)"
      [finished]="finished"
    >
    </app-sign-container>
  </main>
</div>
